/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 h1{
 	font-family: Arial, sans-serif;
 	color: #ff0000;
 	}
 	
 img{
 	margin: 5px;
 	border: 1px solid #ccc;
 	float: left;
 	}
 	
 img:hover{
 		border: 1px solid #777;
 		}
 
 product {
    margin: 2px;
    border: 1px solid #ccc;
    float: left;
	background: #eefec2;
	box-shadow: 5px 5px 2px #888888;
	min-width: 200px;
	max-width: 200px;
	min-height: 250px;
	max-height: 250px;
    border-radius: 5px;
    padding: 5px;
}

.button1 {
	background-color: #008CBA;
	font-size: 10px;
	border-radius: 4px;
	border: 2px solid #4CAF50;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}