<h1>Welcome to Social Table Top Gaming</h1>
<p>Find a game today!</p>

<p><%= link_to "About", home_about_path %></p>
<p><%= link_to "Contact", home_contact_path %></p>
<p><%= link_to "Index", home_index_path %></p>