<table bgcolor='#c4d3fe'> <tr>
	<td width='10%' align='left'>
		<%= link_to (image_tag 'logo.svg', size: "70x70"), home_index_path%></td> 
    <td width='70%' align='center'><h1>Social Table Top Gaming</h1></td>
    <td width='15%' align='center'>SEARCH CONTROL</td>
    <td width='15%' align='center'>LOGIN CONTROL</td>
</tr></table>



