<!DOCTYPE html>
<html>
...
<body bgcolor='#f5f9f5'>
<center>
<table bgcolor='white' width='95%'>
   <tr><td><%= render "layouts/header" %></td></tr>
   <tr><td height='700' valign='top'><%= yield %></td></tr>
   <tr><td><%= render "layouts/footer" %></td> </tr>
</table>
</center>
</body>
</html>
